html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #D6FFFB;
}

.button {
    background-color: #233F80;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

    .button:hover {
        background-color: #2C4FA0;
    }

.textbox {
    padding: 10px;
    background-color: #99FFF5;
    border-color: #000000;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 80%;
    transition: border-color 0.3s;
}

.account {
    color: #000000;
    background-color: #99FFF5;
    overflow: visible;
    height: auto;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}