html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #D6FFFB;
}

.button {
    display: inline-block;
    background-color: #233F80;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

    .button:hover {
        background-color: #2C4FA0;
        color: #16FFE7;
    }

    .button:disabled {
        background-color: #D6E2FF;
        color: black;
    }

        .button:disabled:hover {
            background-color: #D6E2FF;
            color: black;
            cursor: not-allowed;
        }

.textbox {
    padding: 10px;
    background-color: #99FFF5;
    border-color: #000000;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 80%;
    transition: border-color 0.3s;
}

    .textbox:disabled {
        background-color: #BAFFF8;
    }

.half-textbox {
    padding: 10px;
    background-color: #99FFF5;
    border-color: #000000;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 40%;
    transition: border-color 0.3s;
}

    .half-textbox:disabled {
    background-color: #BAFFF8;
    }

.quarter-textbox {
    padding: 10px;
    background-color: #99FFF5;
    border-color: #000000;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 20%;
    transition: border-color 0.3s;
}

    .quarter-textbox:disabled {
        background-color: #BAFFF8;
    }

.account {
    color: #000000;
    background-color: #16FFE7;
    overflow: visible;
    height: auto;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.admin {
    color: #2C4FA0;
    background-color: #16FFE7;
    overflow: visible;
    height: auto;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.link {
    color: blue;
    background-color: #D6FFFB;
    border-color: #D6FFFB;
    font-weight: bold;
    font-size: 14px;
}

    .link:hover {
        color: lightskyblue;
    }