@page
@model CommunityCreationModel
@{
    ViewData["Title"] = "Communities page";
}

<head>
	<link rel="stylesheet" href="~/css/site.css" />
	<meta charset="UTF-8">
	<title>Tickets Page</title>
	<style>
		
    </style>
</head>
<body>
	<div class="text-center">
		<h1 class="display-4">Create a Community</h1>
		<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	</div>
</body>