@page
@model IndexModel
@{
    ViewData["Title"] = "Login page";
}

<div class="text-center">
	<form method="post">
		<h3 class="display-8">Name</h3>
		<input type="text" class="quarter-textbox" id="name" asp-for="Name"/>

		<h3 class="display-8">Password</h3>
		<input type="text" class="quarter-textbox" id="password" asp-for="Password"/>

		<h1></h1>
		<button class="button" asp-area="" asp-page-handler="LogIn">Log in</button>
		<br/>
		<h6 class="display-8">Don't have an account?</h6>
		<button class="link" asp-area="" asp-page-handler="SignUp">Sign Up</button>
	</form>
</div>
