@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<body>
<h3>Cookies</h3>
	<p>Effective date: 12/06/2025</p>
<p>
	Alliance Explorer use only one cookie. A strictly necessary login cookie that keeps you signed in while using the site. 
	It does not track you, and it is not used for analytics or advertising cookies. 
	Your login data is kept secure and never shared with third parties. 
	By using this site, you agree to this essential cookie being used.
</p>
</body>